<!DOCTYPE html>
<html lang="nl">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="m-24">
    <main>
      <section class="page">
        <h1 class="text-2xl">Leveranciers</h1>
        <ul>
          <% for (const key in vendors) { %>
          <li class="hover:underline">
            <a href="/vendors/<%= key %>"><%= vendors[key] %></a>
          </li>
          <hr />
          <% } %>
        </ul>
      </section>
    </main>
  </body>
</html>
