<section class="page">
  <h1 class="text-2xl text-center mb-8">
    FEEDBACK GELINKT PUBLICEREN EN MELDEN
  </h1>

  <section class="bg-stone-100">
    <h2 class="bg-stone-500 text-stone-50 text-center">
      Gemeente <%= municipality %>
    </h2>
    <section class="text-sm ml-20 my-4 pl-2">
      <p>
        ABB ging na in hoeverre jouw bestuur voldoet aan de gelinkte publicatie-
        en meldingsplicht. ABB heeft hiervoor in de maand juli en augustus
        onderzocht of gelinkte publicaties terug te vinden zijn op webtoepassing
        van het bestuur voor de periode X. Dit betekent dat documenten die niet
        gelinkt gepubliceerd zijn of na de periode gepubliceerd zijn, niet
        verschijnen in de resultaten.
      </p>
    </section>
  </section>

  <section class="bg-stone-100">
    <h2 class="bg-stone-300 text-stone-950 text-center">Methodologie</h2>
    <section class="text-sm ml-20">
      <h3 class="text-lg">Verzamelen van data</h3>
      <section class="bg-white py-4 pl-2">
        <p class="pb-4">ABB heeft voor dit onderzoek gekeken naar:</p>

        <p>
          Op de volgende pagina's kan u respectievelijk het rapport voor de
          gemeenteraad, raad voor maatschappelijk welzijn, college van
          burgemeester en schepenen en vast bureau terug vinden. Volgende kolom
          eigenschappen worden weergegeven:
        </p>
      </section>
      <h3 class="text-lg">Kolom eigenschappen</h3>
      <section class="bg-white py-4">
        <table class="table-auto border-separate border-spacing-2">
          <tbody>
            <tr>
              <td class="align-top">Maturiteitsniveau</td>
              <td>
                <span class="underline font-medium">Niveau 1:</span> omschrijft
                het minimum scenario waaraan u moet voldoen om besluiten als
                Linked Open Data te publiceren. Het omvat de basiselementen
                waaruit notulen bestaan.
              </td>
            </tr>
            <tr>
              <td class="align-top">Attribuut</td>
              <td>
                Een gestandaardiseerde annotatie die bestaat uit een entiteit en
                eigenschap. Voor meer info over de betekenis van deze entiteiten
                en eigenschappen zie
                <a
                  href="https://data.vlaanderen.be/doc/applicatieprofiel/besluit-publicatie/"
                  >https://data.vlaanderen.be/doc/applicatieprofiel/besluit-publicatie/</a
                >
              </td>
            </tr>
            <tr>
              <td class="align-top">Verplicht</td>
              <td>
                <p>
                  <span class="underline font-medium">Verplicht:</span> Dit
                  attribuut is verplicht in te vullen
                </p>
                <p>
                  <span class="underline font-medium">Optioneel:</span> Voor dit
                  attribuut kan je kiezen om deze in te vullen of leeg te laten
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
      <h3 class="text-lg">Indicatoren</h3>
      <section class="bg-white pt-4">
        <p class="pl-2 py-4">
          De screening is gebaseerd op de gelinkt gepubliceerde documenten die
          automatisch van de webtoepassing afgehaald konden worden en van de
          meldingen gedaan voor 1 september 2022. Aan de hand van de indicator
          kan je per attribuut inschatten of je gemeente in orde is of niet. We
          werken met onderstaande indicatoren:
        </p>

        <table
          class="text-sm border-separate border-spacing-x-2 text-left bg-stone-300 w-full"
        >
          <thead class="text-stone-950">
            <tr>
              <th class="w-24">Indicator</th>
              <th>Aanwezigheid documenten / meldingen</th>
            </tr>
          </thead>
        </table>
        <table class="table-auto border-separate border-spacing-2 text-left">
          <tbody>
            <tr>
              <td class="w-24 h-12 bg-red-600"></td>
              <td class="align-top">
                Er zijn geen documenten gevonden of geen melding ontvangen met
                dit verplicht in te vullen attribuut.
              </td>
            </tr>
            <tr>
              <td class="w-24 h-12 bg-green-600"></td>
              <td class="align-top">
                Alle gevonden documenten of meldingen bevatten dit verplicht in
                te vullen attribuut.
              </td>
            </tr>
            <tr>
              <td class="w-24 h-4 bg-white"></td>
              <td class="align-top">
                Er zijn geen documenten gevonden of geen melding ontvangen met
                dit verplicht in te vullen attribuut.
              </td>
            </tr>
            <tr>
              <td class="w-24 h-4 bg-yellow-400"></td>
              <td class="align-top">
                Er zijn geen documenten gevonden of geen melding ontvangen met
                dit verplicht in te vullen attribuut.
              </td>
            </tr>
          </tbody>
        </table>
      </section>
    </section>
  </section>

  <section class="bg-stone-100 mt-8">
    <!-- <div
      class="text-stone-500 text-xl flex-none w-20 text-center pl-8"
      style="writing-mode: sideways-lr"
    >
      Info
    </div> -->
    <div class="ml-20">
      <h3 class="text-lg">Uitleg aanpak opzoeken publicatie</h3>
      <section class="bg-white text-sm py-4">
        <p class="ml-2">
          Om na te gaan of jouw bestuur voldoet aan de gelinkte
          publicatieplicht, heeft ABB enkel gekeken naar de webtoepassing waarop
          jouw bestuur gelinkte publicaties publiceert. Enkel de documenten die
          gelinkt gepubliceerd zijn en automatisch van de webtoepassing gehaald
          konden worden, zijn verder bekeken. ABB heeft een inventarisatie
          gemaakt van de gevonden informatie, een samenvatting kan je hieronder
          vinden
        </p>
        <h3 class="text-lg bg-stone-100">Meer informatie</h3>
        <p class="ml-2">
          + Het is belangrijk om bij het publiceren van mogelijk gevoelige
          (persoons-)gegevens rekening te houden met.
          <a
            href="https://lokaalbestuur.vlaanderen.be/faq/werking-bestuur/mogen-persoonsgegevens-bekend-gemaakt-worden-op-de-webtoepassing-van-het-lokaal-bestuur-bijvoorbeeld"
            >https://lokaalbestuur.vlaanderen.be/faq/werking-bestuur/mogen-persoonsgegevens-bekend-gemaakt-worden-op-de-webtoepassing-van-het-lokaal-bestuur-bijvoorbeeld</a
          >
        </p>
        <p class="ml-2">
          + Alle informatie rond de publicatie- en meldingsplicht kan je hier
          terugvinden
          <a
            href="https://lokaalbestuur.vlaanderen.be/sites/default/files/public/thema/werking_bestuur/tabellen_publicatie_melding_update_20220601.pdf"
            >https://lokaalbestuur.vlaanderen.be/sites/default/files/public/thema/werking_bestuur/tabellen_publicatie_melding_update_20220601.pdf</a
          >
        </p>
      </section>
    </div>
  </section>
</section>
