<section class="page">
  <h1 class="text-2xl text-center border-2 border-black">
    FEEDBACK GELINKT PUBLICEREN EN MELDEN
  </h1>

  <section class="bg-stone-100">
    <h2 class="bg-stone-500 text-stone-50 text-center">
      Gemeente <%= municipality %>
    </h2>
    <section class="text-sm ml-10 my-4 pl-2">
      <p>
        ABB ging na in hoeverre jouw bestuur voldoet aan de gelinkte
        publicatieplicht. ABB heeft hiervoor in de maand juli en augustus
        onderzocht of gelinkte publicaties terug te vinden zijn op webtoepassing
        van het bestuur voor de periode januari - juni 2023. Dit betekent dat
        documenten die niet gelinkt gepubliceerd zijn niet verschijnen in de
        resultaten.
      </p>
    </section>
  </section>

  <section class="bg-stone-100 fill-stone-500 mt-8 break-words">
    <div class="w-10 float-left">
      <svg width="40" height="272">
        <text
          x="20"
          y="136"
          text-anchor="middle"
          transform="rotate(-90, 20, 136)"
          style="font-size: 16px;"
        >
          Info
        </text>
      </svg>
    </div>

    <div class="ml-10">
      <h3 class="text-lg">Uitleg aanpak opzoeken publicatie</h3>
      <section class="bg-white text-sm pb-4">
        <p class="ml-2">
          Om na te gaan of jouw bestuur voldoet aan de gelinkte
          publicatieplicht, heeft ABB enkel gekeken naar de webtoepassing waarop
          jouw bestuur gelinkte publicaties publiceert. Enkel de documenten die
          gelinkt gepubliceerd zijn en automatisch van de webtoepassing gehaald
          konden worden, zijn verder bekeken. Het gaat om de agenda's,
          besluitenlijsten, notulen en uitreksels. ABB heeft een inventarisatie
          gemaakt van de gevonden informatie, een samenvatting kan je vinden op
          de volgende pagina's.
        </p>
        <h3 class="text-lg bg-stone-100">Meer informatie</h3>
        <p class="ml-2">
          + Het is belangrijk om bij het publiceren van mogelijk gevoelige
          (persoons-)gegevens rekening te houden met de daarvoor relevante
          regelgeving. Alle relevante richtlijnen rond dit onderwerp kan je op
          de volgende webpagina raadplegen:
          <a
            class="text-blue-600 underline"
            href="https://www.vlaanderen.be/lokaal-bestuur/publicatieplicht#q-4405bb0e-81aa-4d3a-8218-5f692dde4d70"
            >https://www.vlaanderen.be/lokaal-bestuur/publicatieplicht#q-4405bb0e-81aa-4d3a-8218-5f692dde4d70</a
          >
        </p>
        <p class="ml-2">
          + Alle informatie rond de publicatie- en meldingsplicht kan je hier
          terugvinden:
          <a
            class="text-blue-600 underline"
            href="https://www.vlaanderen.be/lokaal-bestuur/publicatieplicht"
            >https://www.vlaanderen.be/lokaal-bestuur/publicatieplicht</a
          >
        </p>
      </section>
    </div>
  </section>

  <section class="bg-stone-100">
    <h2 class="bg-stone-300 text-stone-950 text-center">Methodologie</h2>
    <section class="text-sm ml-10">
      <section class="bg-white pb-4 pl-2">
        <p>
          Op de volgende pagina's kan u respectievelijk het rapport voor de
          gemeenteraad, raad voor maatschappelijk welzijn, college van
          burgemeester en schepenen, vast bureau en burgemeester terug vinden.
          Hieronder kan u meer info vinden over de kolomeigenschappen
          "attribuut", "beschrijving attribuut" & "Indicator".
        </p>
      </section>
      <h3 class="text-lg">Attribuut & beschrijving</h3>
      <section class="bg-white pb-4 pl-2">
        <p>
          Een gestandaardiseerde manier waarop we elementen uit de gelinkte
          besluiten, agenda's en notulen weergeven. Om duidelijk te maken wat we
          hiermee bedoelen geven we bij elk attribuut ook een korte beschrijving
          mee.
        </p>
      </section>
      <h3 class="text-lg">Indicator</h3>
      <section class="bg-white">
        <p class="pl-2 pb-4">
          De screening is gebaseerd op de gelinkt gepubliceerde documenten die
          automatisch van de webtoepassing afgehaald konden worden. Aan de hand
          van de indicator kan je per attribuut inschatten of je gemeente in
          orde is of niet. We werken met onderstaande indicatoren:
        </p>

        <table
          class="text-sm text-left bg-stone-300 w-full"
        >
          <thead class="text-stone-950">
            <tr>
              <th class="w-44 px-2">Indicator</th>
              <th class="px-2">Aanwezigheid documenten / meldingen</th>
            </tr>
          </thead>
        </table>
        <table class="table-auto border-separate border-spacing-y-2 text-left">
          <tbody>
            <tr>
              <td class="w-44 h-10 bg-red-600"><span class="px-2">NOK</span></td>
              <td class="align-top px-2">
                Minder dan 50% van de gevonden publicaties bevatten dit
                attribuut.
              </td>
            </tr>
            <tr>
              <td class="h-10 bg-green-600"><span class="px-2">OK</span></td>
              <td class="align-top px-2">
                Meer dan 90% van de gevonden publicaties bevatten dit attribuut.
              </td>
            </tr>
            <tr>
              <td class="h-10 bg-yellow-400"><span class="px-2">Ruimte voor verbetering</span></td>
              <td class="align-top px-2">
                Tussen de 50% en 90% van de gevonden publicaties bevatten dit
                attribuut.
              </td>
            </tr>
          </tbody>
        </table>
      </section>
    </section>
  </section>
</section>
