@media print {
  @page {
    size: A4;
    margin: 16mm 24mm;

    @bottom-right {
      content: "Page " counter(page) " of PPPPP " counter(pages);
    }  
  }

  .page {
    page-break-inside: avoid;
    page-break-after: always;
  }

  body {
    margin: 0 !important;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}

